{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block entrance_title %}{% trans "Change Password" %}{% endblock %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block entrance_content %}
    <p class="mb-4 text-center text-sm font-bold text-black uppercase">
        {% trans "Your password is now changed." %}
    </p>
    <div class="pt-4 text-center">
        <a href="{% url 'account_login' %}" class="inline-block py-3 px-6 bg-black hover:bg-white text-white hover:text-black font-black text-xl rounded-none transition-all uppercase italic border-2 border-black">
            {% trans "Log In" %}
        </a>
    </div>
{% endblock %}
