{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block entrance_title %}{% trans "Password Reset" %}{% endblock %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block entrance_content %}
    <p class="mb-4 text-center text-sm font-bold text-black uppercase">
        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
    </p>
    <div class="pt-4 text-center">
        <a href="{% url 'account_login' %}" class="inline-block py-3 px-6 bg-black hover:bg-white text-white hover:text-black font-black text-xl rounded-none transition-all uppercase italic border-2 border-black">
            {% trans "Return to Log In" %}
        </a>
    </div>
{% endblock %}
